/*글꼴*/

@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;200;300;400;500;700&family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mina&display=swap');
.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
  }

.godirect,.work_type{
  border: 1px solid #425a73;
  border-radius: 5px;
  transition: all 0.4s;
  color: #303a48;
  background: #fff;
}
