body{
    font-size:18px;
    line-height:23px;
    /* font-family: 'Hahmlet', serif; */
    /*font-family: 'Noto Sans KR', sans-serif;*/
    font-family: 'Poppins', sans-serif;
    /*font-family: 'Mina', sans-serif;*/
    color: #1c1c1c;
    font-weight: 400;
}


/*tab*/

.tab_nav{
    display:flex;
    justify-content:space-between;
    text-align:center;
}


.tab_nav .tab_btn{
}

.tab_nav .tab_btn.active{}

.tab_con{position:relative;}
.tab_con .con{position: absolute; display: none;}
.tab_con .con.active{position: initial; display: block;}


header{
    position:fixed;
    font-size: 20px;
    line-height: 50px;
    height: 50px;
    width: 100%;
    z-index: 99999;
}

header h1.logo{
    text-transform: uppercase;
}

header .header_left{
    margin-left: 30px;
}
header .header_right{
    margin-right: 30px;
}

footer{
    width: 100%;
    height: 100vh;
    text-align:center;
}

.footer_group{
    width: 100%;
    height: 100%;
    position:relative;
    background:#1c1c1c;
    color:#fff;
}

.footer_wrap{
    position:absolute;
    top:50%; left:50%;
    transform:translate(-50%,-50%);
}

.footer_wrap > p{
    font-size:100px;
    line-height:130px;
    text-transform:uppercase;
    font-family: 'Mina', sans-serif;
}

.footer_wrap .mail{
    margin-top: 70px;
    display:block;
    font-size:20px;
    line-height:30px;
    position:relative;
}

.footer_wrap .mail::before{
    content: '';
    width: 20px; 
    height: 20px; 
    border-left: 5px solid #fff; 
    border-bottom: 5px solid #fff; 
    display: inline-block;
    position: absolute;
    top: -60px;
    left:50%;
    transform:translateX(-50%);

    animation: bounce .5s infinite alternate;
}

@keyframes bounce{

    from{
        transform:translateY(0px) rotate(-45deg);
    }
    to{
      transform:translateY(-15px) rotate(-45deg);
    }
}

footer .copyright{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:30px;
    font-size: 13px;
}

footer .copyright span{
    display:block;
}

footer .scroll_top{
    width: 50px;
    height: 50px;
    background: #fff;
    position:absolute;
    right: 50px;
    bottom: 50px;
    border-radius:50%;
    background-image: url(../img/btn_top.png);
    background-size: 19px auto;
    background-repeat: no-repeat;
    background-position: center;
}